<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="lancer.f_mypage.model.Freelancer" alias="Freelancer"/>
		<typeAlias type="lancer.f_mypage.model.F_job" alias="F_job"/>
		<typeAlias type="lancer.f_mypage.model.Career" alias="Career"/>
		<typeAlias type="lancer.f_mypage.model.School" alias="School"/>
		<typeAlias type="lancer.f_mypage.model.Certificate" alias="Certificate"/>
		<typeAlias type="lancer.f_mypage.model.Calendar" alias="Calendar"/>
		<typeAlias type="lancer.f_mypage.model.ApplyProject" alias="ApplyProject"/>
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="JNDI">
				<property name="data_source" value="java:comp/env/jdbc/oracle"/>
			</dataSource>
		</environment>		
	</environments>
	
	<mappers>
		<mapper resource="lancer/f_mypage/mapper/Freelancer.xml"/>
	</mappers>
	
</configuration>
